@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 24px;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 56px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 12px;
}

main {
    margin-bottom: 96px;
}

a {
    display: inline;
    text-decoration: none;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-bottom: 24px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 50px;
    height: 50px;
}

.nav__logo--text {
    font-size: 28px;
    padding-left: 16px;
    font-weight: 900;
}

.nav__links--container {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.nav__links {
    display: flex;
}

.nav__links--modal {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-left: 36px;
    list-style-type: none;
}

.nav__link--login,
.nav__link--signup {
    list-style-type: none;
}

.nav__link--login {
    margin-left: 56px;
}

.nav__link--signup {
    margin-left: 16px;
    background-color: #6415ff;
    padding: 8px 24px;
    border-radius: 20px;
}

.nav__link--signup:hover {
    background-color: rgba(80, 17, 204);
    cursor: pointer;
}

/*

HEADER

*/

.header__img {
    width: 100%;
}

.header__img--wrapper {
    width: 60%;
}

.header__title {
    font-size: 24px;
    margin-bottom: 36px;
}

.header__description {
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 1.5;
}

.about-us {
    width: 40%;
    padding-right: 32px;
}

.about-us__img--strip {
    width: 75%;
    opacity: .5;
}

.about-us__text--customers {
    font-weight: bold;
    opacity: .5;
    margin-bottom: 16px;
    font-size: 12px;
}

.input__container {
    margin-bottom: 56px;
    border: solid 2px lightgrey;
    display: flex;
    width: 90%;
    border-radius: 28px;
    position: relative;
    padding-left: 24px;
}

.no-border {
    border: none;
    padding: 18px;
    font-size: 16px;
}

.btn {
    padding: 16px 36px;
    border-radius: 24px;
    border: none;
    color: white;
    background-color: #6415ff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 3px;
    top: 3.5px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgba(80, 17, 204);
}

/*
*/

.btn__signup {
    color: white;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__title--small {
    margin-bottom: 32px;
    text-align: center;
}

.features__title--large {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 28px;
    text-align: center;
}

.features__description {
    text-align: center;
    width: 60%;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    opacity: .6;
    margin-bottom: 48px;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 36px 18px;
}

.service__description {
    padding-left: 12px;
}

.service__title {
    margin-bottom: 12px;
    font-size: 26px;
    text-align: center;
}

.service__text {
    line-height: 2;
    font-size: 16px;
    font-weight: 500;
    opacity: .6;
    text-align: center;
}

.icon__wrapper--container {
    width: 100%;
    max-width: 70px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.service__icon--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px lightgray;
    border-radius: 50%;
    opacity: .8;
    width: 64px;
    height: 64px;
    text-align: center;
}

.service__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    text-align: center;
}


/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.quality__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 24px;
    padding-right: 84px;
    padding-left: 0;
}

.quality__title--small {
    margin-bottom: 32px;
}

.quality__title--large {
    font-size: 54px;
    font-weight: bolder;
    margin-bottom: 28px;
}

.quality__para {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    opacity: .6;
    margin-bottom: 32px;
}

.quality__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 1200px;
    min-width: 300px;
}

.quality__img--wrapper {
    width: 100%;
    max-width: 720px;
    border: solid 1px lightgray;
}

.quality__img {
    width: 100%;
    max-width: 1200px;
}

.quality__btn {
   background-color: #6415ff;
   color: #fff;
   padding: 16px 36px;
   border-radius: 24px;
   border: none;
   font-weight: bold;
   font-size: 14px;
   width: 100%;
   max-width: 150px;
}

.quality__btn:hover {
    background-color: rgba(80, 17, 204);
    cursor: pointer;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__figure {
    width: 50%;
    max-width: 1200px;
    display: flex;
}

.steps__img--wrapper {
    width: 100%;
}

.steps__img {
    width: 100%;
    max-width: 1200px;
}

.steps__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 48px 72px;
}

.steps__title--small {
    margin-bottom: 24px;
}

.steps__title--large {
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 36px;
}

.steps__list {
    padding-right: 86px;
}

.step__text {
    line-height: 2;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
    margin-bottom: 32px;
}

.step__number {
    padding-right: 24px;
    opacity: 0.3;
    font-size: 20px;
}

.step__number--1 {
    padding-right: 8px;
}

.step__row--1,
.step__row--2,
.step__row--3 {
    display: flex;
    margin-bottom: 4px;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__figure {
    width: 50%;
    max-width: 1200px;
    display: flex;
}

.values__img--wrapper {
    width: 100%;
    border: solid 1px lightgray;
}

.values__img {
    width: 100%;
    max-width: 1200px;
}

.values__title--small {
    margin-bottom: 24px
}

.values__title--large {
    font-size: 54px;
    font-weight: bolder;
    margin-bottom: 36px;
}

.values__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 96px;
}

.value__row {
    display: flex;
    flex-direction: row;
}

.value--1,
.value--2 {
    display: flex;
    flex-direction: column;
}

.value__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.value__name {
    padding-left: 12px;
}

.values__para {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    opacity: .6;
    margin-bottom: 32px;
}

.values__btn {
    background-color: #6415ff;
    color: #fff;
    padding: 16px 36px;
    border-radius: 24px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    max-width: 150px;
}

.values__btn:hover {
    background-color: rgba(80, 17, 204);
    cursor: pointer;
}

.value__para {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    opacity: .6;
    margin-bottom: 36px;
    padding-right: 24px;
}

.dollar-sign__icon--wrapper {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 221, 163);
}
.briefcase__icon--wrapper {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 150, 150);
}

.value__icon {
    width: 50%;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__title--small {
    margin-bottom: 24px
}

.pricing__title--large {
    font-size: 54px;
    font-weight: bolder;
    margin-bottom: 28px;
}

.pricing__para {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    opacity: .6;
    margin-bottom: 56px;
    width: 100%;
    max-width: 612px;
    text-align: center;
}

.pricing__plans {
    display: flex;
    flex-direction: row;
    max-height: 612px;
}

.plan {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.1);
}

.plan__stripe--personal,
.plan__stripe--business,
.plan__stripe--enterprise {
    height: 8px;
    border-radius: 10px 10px 0 0;
}

.plan__stripe--personal {
    background: linear-gradient(
        115deg,
        rgb(56, 178, 172) 0%,
        rgb(129, 230, 217) 100%
);
}

.plan__stripe--enterprise {
    background: linear-gradient(
        115deg,
        rgb(245, 101, 101) 0%,
        rgb(254, 178, 178) 100%
);
}

.plan__top,
.plan__middle,
.plan__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.plan__top {
    padding: 36px 112px;
    
}

.plan__middle {
    line-height: 2.75;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 264px;
    overflow: hidden;
    padding: 38px 32px;
}

.plan__bottom {
    border-radius: 0 0 10px 10px;
}

.plan--business {
    margin-left: 56px;
    margin-right: 56px;
}

.personal--middle,
.personal--bottom,
.enterprise--middle,
.enterprise--bottom {
    border-top: solid 1.5px rgba(108, 106, 106, 0.218);
}

.business--middle,
.business--bottom {
    border: solid 1.25px rgba(255, 255, 255, 0.15);
}

.plan__title {
    margin-bottom: 22px;
    margin-top: 8px;
    font-size: 20px;
}

.plan__price {
    margin-bottom: 22px;
    font-size: 48px;
}

.plan__duration {
    font-size: 18px;
    opacity: 0.5;
}

.plan__suitability {
    font-size: 21px;
}

.personal__features,
.enterprise__features {
    font-weight: 600;
    opacity: 0.6;
}

.business__features {
    font-weight: 600;
}

.btn__plan-1,
.btn__plan-2,
.btn__plan-3 {
    padding: 16px 64px;
    margin: 32px;
    border-radius: 24px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.btn__plan-1 {
    background: linear-gradient(
        115deg,
        rgb(56, 178, 172) 0%,
        rgb(129, 230, 217) 100%);
    transition: transform 0.4s ease;

}

.btn__plan-2 {
    background-color: #fff;
    transition: transform 0.4s ease;
}

.btn__plan-3 {
    background: linear-gradient(
        115deg,
        rgb(245, 101, 101) 0%,
        rgb(254, 178, 178) 100%);
    transition: transform 0.4s ease;
}

.btn__plan-1:hover,
.btn__plan-2:hover,
.btn__plan-3:hover {
    cursor: pointer;
    transform: translate(2px, -2px);
    box-shadow: 0 10px 32px -18px black
}

.plan--personal {
    border-radius: 10px 10px 10px 10px;
}

.plan--business {
    background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%);
    border-radius: 10px 10px 10px 10px;
}

.plan--enterprise {
    border-radius: 10px 10px 10px 10px;
}

.white {
    color: #fff;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}

.testimonials__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.testimonials__img {
    width: 100%;
}

.testimonials__section--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 56px;
}

.testimonials__title--small {
    margin-bottom: 24px;
}

.testimonials__title--large {
    font-size: 46px;
    font-weight: bolder;
    margin-bottom: 28px;
}

.testimonials__para {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    opacity: .6;
    margin-bottom: 46px;
}

.fa-star {
    margin-bottom: 24px;
}

.fa-star path {
  color: rgb(255, 180, 0);
  fill: rgb(255, 180, 0);
}

.review__title {
    margin-bottom: 24px;
    opacity: 0.9;
}

.review__para {
    margin-bottom: 24px;
    line-height: 1.75;
}

.customer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer__info {
    display: flex;
}

.customer__icon--figure {
    padding-right: 24px;
}

.customer__icon {
    width: 100%;
    max-width: 80px;
    border-radius: 50%;
}

.customer__identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customer__name {
    font-size: 20px;
    margin-bottom: 8px;
    opacity: 0.9;
}

.customer__affiliation {
    font-size: 16px;
    font-weight: 500;
    opacity: .6;
}

.arrow__container {
    display: flex;
}

.arrow__wrapper--right:hover,
.arrow__wrapper--left:hover {
    background-color: rgb(225, 223, 223);
    cursor: pointer;
}

.arrow__wrapper--right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    background-color: rgb(235, 237, 247);
    border-radius: 50%;
    width: 100%;
    max-width: 64px;
    width: 48px;
    height: 48px;
}

.fa-arrow-right {
    width: 75%;
}

.arrow__wrapper--left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    background-color: rgb(235, 237, 247);
    border-radius: 50%;
    width: 100%;
    max-width: 64px;
    width: 48px;
    height: 48px;
}

.fa-arrow-left {
    width: 75%;
}

.fa-arrow-right path,
.fa-arrow-left path {
  color: #6415ff;
  fill: #6415ff;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.start-cta__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 56px;
    width: 100%;
    max-width: 1600px;
    height: 20vw;
    background-color: #6415ff;
}

.start__text--section {
    width: 50%;
    margin-left: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title {
    color: #fff;
    font-size: 30px;
    line-height: 1.5;
}

.call-to-action__btn--section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 36px;
}

.call-to-action__btn {
    padding: 22px 40px;
    border-radius: 56px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.start__btn {
    background-color: #f56565;
    transition: background 300ms ease;
}

.contact__btn {
    background-color: #6415ff;
    border: solid 0.8px white;
    margin-left: 32px;
}

.start__btn:hover {
    cursor: pointer;
    background-color: rgb(255, 55, 0);
    transition: background 300ms ease;
}

.contact__btn:hover {
    cursor: pointer;
    color: #6415ff;
    background-color: #fff;
    transition: background 300ms ease;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__column--title {
    color: #fff;
    margin-bottom: 20px;
}

.footer__column--link {
    color: #fff;
    line-height: 2.4;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    display: inline-flex;
    width: fit-content;
}

.footer__column--link:hover:after {
    opacity: 1;
    transform: translateY(-5px);
}

.footer__column--link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 300ms ease;
    opacity: 0;
    transform: translateY(-8px);
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.footer__logo--text {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

.footer__copyright {
    color: #fff;
    opacity: 0.8;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    scale: 0.9;
}

.footer__social--link {
    margin-left: 16px;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
    transition: all 300ms ease;
}

.footer__social--link:hover {
    opacity: 0.8;
    transition: all 300ms ease;
}

/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    #quality .row {
        padding: 0 24px;
    }

    #testimonials .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }

    .nav__links--container {
        display: none;
    }

    .about-us,
    .header__img--wrapper {
        width: 100%;
    }

    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 586px;
    }

    .about-us__img--strip {
        scale: 1.15;
    }

    .header__title {
        font-size: 15px;
        margin-bottom: 16px;
    }

    .header__description {
        margin-bottom: 20px;
    }

    .input__container--parent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 540px;
        width: 100%;
    }

    .input__container {
        max-height: 80px;
    }

    .header__img--wrapper {
        max-width: 532px;
        padding-top: 56px;
    }

    .features__description {
        font-size: 16px;
        margin-bottom: 18px;
    }

    .service {
        display: flex;
        width: calc(100% / 2);
        padding: 36px 64px; 
    }

    .icon__wrapper--container {
        width: 100%;
        max-width: 70px;
    }

    .quality__title--large {
        font-size: 36px;
    }

    .quality__para {
        font-size: 16px;
    }

    .steps__description {
        padding: 0 56px;
    }

    .steps__title--large {
        font-size: 18px;
    }

    .steps__list {
        padding-right: 0;
    }

    .step__text {
        font-size: 15px;
    }

    .values__title--large {
        font-size: 34px;
    }

    .values__para {
        font-size: 16px;
    }

    .values__description {
        display: flex;
        justify-content: center;
        align-items: start;
        padding-left: 24px;
    }

    .values__figure {
        padding-right: 24px;
    }

    .value__para {
        font-size: 16px;
    }

    .value__row {
        display: flex;
        flex-direction: column;
    }

    .pricing__title--large {
        font-size: 48px;
        margin-bottom: 8px;
    }

    .pricing__para {
        padding: 12px;
        font-size: 16px;
    }

    .pricing__plans {
    width: 100%;
    max-height: none;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    }

    .plan {
    width: 100%;
    max-width: 384px;
    }

    .plan--business {
    margin: 0;
    }

    .testimonials__figure {
        width: 38vw;
    }

    .testimonials__title--large {
        font-size: 36px;
    }

    .testimonials__section--text {
        padding-left: 0;
    }

    .testimonials__para {
        font-size: 16px;
    }

    .review__para {
        font-size: 15px;
        font-weight: 500;
    }

    .start-cta__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40vw;
        margin: 0 20px;
    }

    .start__text--section {
        margin-left: 0;
    }

    .start__title {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .call-to-action__btn--section {
        margin-right: 0;
    }

    .call-to-action__btn {
        transform: scale(0.9);
        padding: 8px 56px;
        margin-left: 0;
    }

    .footer__columns {
        flex-wrap: wrap;
        gap: 40px 0;
        justify-content: center;
    }

    .footer__column {
        width: calc(100% / 3);
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    #steps .row,
    #testimonials .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #pricing .row {
        margin-top: 40px;
    }

    .nav__logo {
        transform: scale(0.85);
    }
    
    .header__title {
        font-size: 15px;
    }

    .header__description {
        font-size: 16px;
    }

    .features__title--large {
        font-size: 24px;
    }

    .services__container {
        display: flex;
        padding: 0 120px;
    }

    .service {
        display: flex;
        width: calc(100% / 1);
        padding: 36px 84px;
        text-align: left;
    }


    .icon__wrapper--container {
        width: 100%;
        height: 80px;
        max-width: 80px;
        display: flex;
        justify-content: center;
    }

    .quality__figure,
    .steps__figure,
    .values__figure {
        margin: 32px auto;
        width: 60vw;
    }

    .quality__description {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        width: 75vw;
    }

    .quality__title--large {
        font-size: 36px;
    }

    .quality__para {
        font-size: 14px;
    }

    .steps__description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75vw;
    padding: 0;
    }

    .steps__title--large {
        font-size: 19px;
    }

    .steps__list,
    .step__number {
        padding: 0;
    }

    .step__row--1,
    .step__row--2,
    .step__row--3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .values__description {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        width: 75vw;
    }

    .values__title--large {
        font-size: 36px;
        padding: 0 108px;
    }

    .values__para {
        font-size: 14px;
        padding: 0 56px;
    }

    .value__para {
        padding: 0 56px;
    }

    .value__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 76px;
    }

    .value__title {
        justify-content: center;
    }

    .value--2 {
        margin-bottom: 24px;
    }

    .values__figure {
        margin-bottom: 72px;
    }

    .pricing__title--large {
        font-size: 36px;
    }

    .testimonials__title--large {
        font-size: 36px;
    }

    .testimonials__figure {
        width: 60vw;
        margin-bottom: 64px;
    }

    .testimonials__section--text {
        text-align: center;
    }

    .testimonials__para {
        font-size: 15px;
    }

    .customer__row {
        display: flex;
        flex-direction: column;
    }

    .customer__info {
        display: flex;
        flex-direction: column;
    }

    .customer__icon--figure {
        padding-right: 0;
    }

    .start__text--section {
        width: 100%;
    }

    .start__title {
        font-size: 30px;
    }

    .call-to-action__btn--section {
        margin-right: 0;
        width: 100%;
        flex-direction: column;
    }

    .call-to-action__btn {
        transform: scale(0.8);
        padding: 8px 56px;
        margin-left: 0;
        height: 68px;
    }
}


@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }

    .header__title {
        font-size: 16px;
    }

    .btn {
        position: relative;
        width: 100%;
        padding: 18px;
    }

    .input__container {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: none;
    }

    .no-border {
        border: solid 2px lightgrey;
        border-radius: 28px;
    }

    .features__title--large {
        font-size: 18px;
    }

    .services__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: calc(100% / 1)
    }

    .service__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service__text {
        text-align: center;
    }

    .icon__wrapper--container {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
    }

    .values__title--large {
        padding: 0 24px;
        font-size: 32px;
    }

    .values__para {
        padding: 0 24px;
    }

    .value__para {
        padding: 0;
    }

    .start__title {
        font-size: 18px;
    }

    .footer__bottom {
        flex-direction: column;
        gap: 24px;
    }
}

@media(max-width: 550px) {
    .header__title {
        font-size: 16px;
    }

    .service {
        display: flex;
        width: calc(100% / 1);
        padding: 36px 24px;
    }

    .start__title {
        font-size: 16px;
    }

    .call-to-action__btn {
        transform: scale(0.5);
    }
}